@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    color: rgb(106, 111, 116);
    padding: 10px;
}

.hover:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
    color: #202124;
    cursor: pointer;
  }

/* Tooltip stylying for icons */

.tooltip {
    display: inline;
    position: relative;
}

.tooltip-text {
    background-color: rgb(32,33,36);
    border-radius: 5px;
    color: #fff;
    font-size: 0.78rem;
    left: 0%;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    top: 100%;
    visibility: hidden;
    white-space: nowrap;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* Navbar styling */

.navbar {
    align-items: center;
    border-bottom: 1px solid rgb(218, 220, 224);
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 8px;
    width: 100vw;
}

.nav-left {
    align-items: center;
    display: flex;
}

.logo {
    align-items: center;
    display: flex;
    margin-left: 4px;
    margin-right: 60px;
}

.logo:hover {
    cursor: pointer;
} 

.logo .material-symbols-outlined {
    margin-right: 4px;
    padding: 12px;
}

.logo img {
    height: 40px;
    margin-right: 6px;
    width: 40px;
}

.logo a { 
    color: rgb(95, 99, 104);
    font-size: 22.5px;
    font-weight: 400;
    text-decoration: none;
}

.searchbar {
    align-items: center;
    display: flex;
    max-width: 942.13px;
    padding: 0 0 0 30px;
    width: 942.13px;
}
.searchbar form {
    align-items: center;
    background-color: rgb(241, 243, 244);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: 48.13px;
    justify-content: flex-start;
    position: relative;
    width: 722.13px;
}

.searchbar button {
    background-color: rgb(241, 243, 244);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    cursor: pointer;
    height: 48.13px;
    position: absolute;
    width: 56px;
}

.searchbar .material-symbols-outlined {
    padding: 8px;
}

.searchbar .material-symbols-outlined:hover {
    background-color: #e1e0e0;
}

.searchbar input {
    background-color: rgb(241, 243, 244);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-size: 16px;
    height: 48.13px;
    left: 8%;
    position: absolute;
    outline: none;
    width: 615px;
}

.searchbar input::placeholder {
    font-size: 16px;
}

.icons {
    display: flex;
    width: 144px;
}

.nav-right {
    align-items: center;
    display: flex;
    height: 48px;
}

.icons .material-symbols-outlined{
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 12px;
}

.profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;
    padding: 0 4px 0 30px;
    width: 124px;
}

.profile .material-symbols-outlined {
    padding: 8px;
}

.profile img {
    border-radius: 50%;
    margin-left: 8px;
    padding: 4px;
}

.profile img:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

/* Main section styles */

/* Sidebar styling  */

.sidebar {
    color: #5f6368;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    margin-top: 5px;
    overflow-x: hidden;
    position: fixed;
    top: 59.2px;
    transition: 0.8s;
    width: 80px;
  }

.sidebar-hover {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.active {
    background-color: #feefc3;
    border-radius: 50%;
    color: #202124;
}

.active:hover {
    background-color: #feefc3;
}
  
.sidebar .sidebar-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
}
  
.sidebar-item .sidebar-text {
    color: #202124;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 22px;
    width: 280px;
}

.sidebar-item .sidebar-text::first-letter {
    font-size: 14.62px;
}
  
.sidebar-item .material-symbols-outlined {
    margin-left: 12px; 
    padding: 12px;
}
  
.sidebar-item:nth-child(1) {
    margin-top: 8px;
}

.sidebar-item:hover {
    background-color: #f0f0f0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
.sidebar-active-item {
    background-color: #feefc3;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
  
.sidebar-active-item:hover {
    background-color: #feefc3;
}
   

/* Main content styling */

.container {
    display: flex;
    position: relative;
}

.main-content {
    height: calc(100vh - 64px);
    position: absolute;
    right: 2px;
    width: calc(100vw - 280px);

}

/* Inactive form styling */

.inactive-form-container {
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    display: flex;
    height: 46px;
    padding: 16px 10px 12px 14px;
    max-width: 600px;
    margin: 32px auto 16px auto;
    position: relative;
    visibility: visible;
}

.inactive-form  {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.inactive-form-container input {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    height: 100%;
    left: 0;
    margin-left: 2px;
    outline: none;
    position: absolute;
    top: 0;
    width: 408px;
}

.inactive-form input::placeholder {
    color: #574C4C;
    font-size: 16px;
    font-weight: 500;
}

.inactiveform-icons {
    display: flex;
    height: 46px;
    position: absolute;
    right: 10px;
    top: 0;
}

.inactive-form .material-symbols-outlined {
    cursor: pointer;
    display: flex;
    margin-left: 6px;
    padding: 12px;
}

/* Active form styling */

.active-form-container, .form-container {
    display: flex;
    justify-content: center;
}

.active-form {
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    display: none;
    flex-direction: column;
    height: 136.13px;
    margin-top: 32px;
    width: 600px;
}

.note-title {
    align-items: center;
    border: none;
    display: flex;
    font-size: 16px;
    height: 44px;
    justify-content: space-between;
    outline: none;
    padding: 10px 15px;
    width: 597.876px;
}

.note-title input {
    border: none;
    color: #202124;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    outline: none;
    width: 90%;
}

.note-title input::placeholder {
    color: #666874;
    font-size: 16px;
    font-weight: 500;
}

.note-title .material-symbols-outlined {
    color: #574C4C;
    cursor: pointer;
    padding: 6px;
}

.note-title .material-symbols-outlined:hover {
    border-radius: 50%;
    color: #202124;
}

.note-text {
    height: 46px;
    padding: 12px 16px;
    width: 597.876px;
}

.note-text input {
    border: none;
    font-size: 14px;
    height: 100%;
    outline: none;
    width: 100%;

}

.note-text input::placeholder {
    color: #574C4C;
    font-size: 14px;
    font-weight: 500;
}

.form .note-icons-footer .footer-icons {
    display: flex;
}

.footer-icon {
    color: #574C4C;
    font-size: 19px;
}

.undo, .redo {
    color: #BFBFBF;
}

.form .note-icons-footer {
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: space-between;
    margin: 4px 0px;
    padding: 0px 0px 0px 2px;
    width: 597.876px;
}

.note-icons-footer .material-symbols-outlined {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0px 8px;
    padding: 6px;
}

.close-btn {
    align-items: center;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    font-size: 14.5px;
    font-weight: 500;
    height: 36px;
    margin-right: 15px;
    padding: 8px 24px;
    width: 86.1px;
}

.close-btn:hover {
    background-color: rgba(244, 244, 244, 0.5);
    border-radius: 4px;
}

/* Notes styling */

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 41.067px 0px 65px;
}

.note {
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    height: 130.27px;
    margin: 16px 0px 16px 16px;
    position: relative;
    width: 240px;
}

.note:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
  }

.check-circle {
    left: -19px;
    position: absolute;
    top: -19px;
}

.note .note-title {
    align-items: center;
    color: #202124;
    cursor: default;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    padding: 12px 10px 0px 16px;
    width: 100%;
}

.note .note-text {
    align-items: center;
    color: #202124;
    cursor: default;
    display: flex;
    font-size: 18px;
    height: 48px;
    padding: 12px 16px;
    width: 100%;
}

.note .note-footer-icons {
    align-items: center;
    display: flex;
    height: 36px;
    margin: 4px 0px;
    width: 100%;
}

.note .footer-icon {
    font-size: 18px;
    margin: 0px 3px 0px 3px;
    padding: 8px;
}

.note .material-symbols-outlined {
    cursor: pointer;
    visibility: hidden;
}

.note:hover .material-symbols-outlined {
    visibility: visible;
}

/* Modal styling */

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    width: 100%;
    visibility: hidden;
}

.modal-content {
    border: none;
    left: 50%;
    position: relative; 
    top: 27.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-out;
    width: 597.876px;
}

.modal form {
    background-color: white;
    box-shadow: 0.6px 2px 8px 1px rgb(121, 122, 124);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 136.13px;
    width: 600px;
}

.form-container {
    height: 180px;
}

.modal .note-title {
    height: 56px;
    padding: 16px 15px 12px 15px;
}

.modal .note-title input {
    font-size: 22px;
    height: 28px;
    padding: 6px 0px;
}

.modal .note-title input::placeholder {
    font-size: 22px;
    font-weight: 400;
    height: 136.13px;
}

.modal .note-text {
    height: 80px;
    padding: 4px 16px 5px 16px;
}

.modal .note-text input {
    font-size: 16px;
    height: 30px;
    
}

.modal .note-text input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.open-modal {
    opacity: 1;
    transition: opacity 0.5s ease;
    visibility: visible;
}
